* {
  font-family: 'Inter', sans-serif;
  background-color: black;
}

body{
  overflow-x: hidden;
}

/* container */
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
}

/* search-input */
.search-input{
  outline: none;
  font-size: 1rem;
  padding: 6px;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 4px;
  background-color: azure;
  position: relative;
  left: 75px;
}

.search-btn{
  position: relative;
  left: 80px;
  font-size: 1rem;
  padding: 6px;
  border: 2px solid rgb(41, 41, 41);
  border-radius: 4px;
  color: white;
  background-color: rgb(41, 41, 41);
  cursor:pointer ;
}

.data-wrapper{
  display: grid;
  grid-template-areas: "image image";
  grid-area: image;
  margin-top: 4rem;
  margin: 4rem;
  position: relative;
  top: 30px;
  left: 250px;
}

/* image cover */
.itunes-images{
  object-fit: cover;
  height: 225px;
  width: 225px;
  border-radius: 4px;
}

.track-text {
  color: white;
}

/* audio-btn */
.audio-btn{
  outline: none;
}

.audio{
  outline: none;
  display: block;
  border-radius: 20px;
  margin:0 auto;

}

/* add to fav btn */

.add-fav{
  font-size: 1rem;
  padding: 12px;
  border: 2px solid rgb(41, 41, 41);
  border-radius: 24px;
  color: white;
  background-color: rgb(41, 41, 41);
  cursor:pointer ;
  width: 280px;
  text-transform: capitalize;
  text-align: center;
}

/* add to fav link */
.fav-link{
  position: relative;
  left: 90px;
  font-size: 1rem;
  padding: 6px;
  border: 2px solid rgb(41, 41, 41);
  border-radius: 4px;
  color: white;
  background-color: rgb(41, 41, 41);
  cursor:pointer ;
  text-decoration: none;
}

/* back home btn */
.back-home{
  position: relative;
  left: 10px;
  /* top: 10px; */
  bottom: 40px;
  font-size: 1rem;
  padding: 6px;
  border: 2px solid rgb(41, 41, 41);
  border-radius: 4px;
  color: white;
  background-color: rgb(41, 41, 41);
  cursor:pointer ;
  text-decoration: none;
}

/* dropdown */

.toggle-categories-button{
  position: relative;
  right: 700px;
  color: white;
  padding: 6px;
  cursor: pointer;
  width: 112px;
  font-size: 1rem;
  padding: 6px;
  border: 2px solid rgb(41, 41, 41);
  border-radius: 4px;
  color: white;
  background-color: rgb(41, 41, 41);
  cursor:pointer ;
  text-decoration: none;
}

#drop-down-btn{
  position: relative;
  right: 810px;
  top: 40px;
  color: white;
  padding: 6px;
  cursor: pointer;
  width: 112px;
  background-color: whitesmoke;
  color: black;
}

#drop-down-list{
  display: flex;
  flex-direction: column;
  color: white;
  padding: 6px;
  cursor: pointer;
  width: 100%;
}

#drop-down-list:hover{
  color: black;
  background-color: whitesmoke;
}

.select-type{
  color: white;
  /* background-color: black; */
  position: relative;
  left: 260px;
  
  bottom: 18px;
}

